name: Build docker image

on:
  push:
    tags:
    - "v*.*.*"

env:
  JENKINS_INBOUND_AGENT_VERSION: 'bookworm-jdk21'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ vars.DOCKERHUB_USERNAME }}/jenkins-generic-agent
        tags: |
          type=semver,pattern=${{ env.JENKINS_INBOUND_AGENT_VERSION }}-{{version}}

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        build-args: JENKINS_INBOUND_AGENT_VERSION=${{ env.JENKINS_INBOUND_AGENT_VERSION }}
